@import '../../theme/variables';

.header {
  background: $dark-gray1-color;
  padding: 1rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.brand {
  color: $white-color;
  text-decoration: none;
}

.menu {
  float: right;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    vertical-align: middle;
  }

  &__link {
    padding: 1rem;
    color: $green1-color;
    text-decoration: none;
  }
}
