@import 'variables';

$border-style: 1px solid $gray1-color;

:global {
  body {
    font-size: 16px;
  }

  .container {
    width: 50%;
    margin: 0 auto;
  }

  // Table
  .table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: $border-style;

    td, th {
      border-left: $border-style;
      border-width: 0 0 0 1px;
      font-size: inherit;
      margin: 0;
      overflow: visible;
      padding: 0.5rem 1rem;
    }

    thead {
      background-color: $gray2-color;
      color: $black-color;
      text-align: left;
      vertical-align: bottom;
    }
  }

  // Button
  .button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: $gray2-color;
    color: $dark-gray1-color;
    border: none;
  }
}
